<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-fcmlight"
      version="1.0.0">

    <name>FirebaseMessagingPlugin</name>
    <description>Cordova plugin for Firebase Cloud Messaging</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/fredriksthlm/cordova-plugin-fcmlight</repo>
    <issue>https://github.com/fredriksthlm/cordova-plugin-fcmlight/issues</issue>

    <js-module src="www/FirebaseMessaging.js" name="FirebaseMessaging">
        <merges target="cordova.plugins.firebase.messaging" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=10.0.0"/>
        <engine name="cordova-android" version=">=10.0.0"/>
    </engines>

    <platform name="android">
        <preference name="ANDROID_FIREBASE_MESSAGING_VERSION" default="23.0.5"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseMessaging">
                <param name="android-package" value="fredriksthlm.cordova.firebase.FirebaseMessagingPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
           <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="default" />
           <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_stat_ic_notification" />
           <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/mycolor" />
        </config-file>

        <framework src="com.google.firebase:firebase-messaging:$ANDROID_FIREBASE_MESSAGING_VERSION" />
        <source-file src="src/android/FirebaseMessagingPlugin.java"
            target-dir="src/fredriksthlm/cordova/firebase/" />
    </platform>

</plugin>
